<nav
	class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
	th:fragment="header">


	<!-- Topbar Navbar -->
	<ul class="navbar-nav ml-auto">

		<!-- Nav Item - User Information -->
		<li class="nav-item dropdown no-arrow">
			<div class="navbar-buttons navbar-header pull-right collapse navbar-collapse" role="navigation">
	            <ul class="nav ace-nav">
	                <li class="light-blue dropdown-modal">
	                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
	                        Xin chào, <!-- <span th:text=${SecurityUtils.getPrincipal().getFullName()}></span> -->
	                    </a>
	                    <li class="light-blue dropdown-modal">
	                        <a th:href="@{/logout}"> <i class="ace-icon fa fa-power-off"></i> Thooát</a>
	                     </li>
	                </li>
	            </ul>
	        </div>
		</li>
	</ul>

</nav>