<footer class="footer" th:fragment="footer">
		<div class="container">
			<div class="row">
				<div class="header-footer col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> 
					<h1 class="text-center text-white">VanLongShop</h1>
				</div>

				<div class="pt-5 col-xl-4 col-lg-4 col-md-4 col-sm-4 text-right">
					<p class="title-footer">Thông tin</p>
					<div class="menu menu1">
						<ul>
							<li><a href="">Giới thiệu</a></li>
							<li><a th:href="@{/danh-sach-san-pham}">Sản phẩm</a></li>
							<li><a th:href="@{/tin-tuc}">Tin tức</a></li>
							<li><a href="">Tuyển dụng</a></li>
							<li><a href="">Liên hệ</a></li>
						</ul>
					</div>
				</div>

				<div class="pt-5 col-xl-4 col-lg-4 col-md-4 col-sm-4 text-center">
					<p class="title-footer">Chính sách</p>
					<div class="menu">
						<ul>
							<li><a href="">Mua hàng online</a></li>
							<li><a href="">Hướng dẫn thanh toán</a></li>
							<li><a href="">Chính sách bảo hành</a></li>
							<li><a href="">Hình thức vận chuyển</a></li>
							<li><a href="">Chính sách đổi trả</a></li>
							<li><a href="">Hỏi, đáp nhanh</a></li>
						</ul>
					</div>
				</div>

				<div class="pt-5 col-xl-4 col-lg-4 col-md-4 col-sm-4">
					<p class="title-footer">Kết nối với chúng tôi</p>
					<div class="menu-icon">
						<ul>
							<li><a th:href="@{https://www.facebook.com/dat01082000/ }"><i class="fab fa-facebook-square"></i></a></li>
							<li><a th:href="@{https://twitter.com/explore}"><i class="fab fa-twitter-square"></i></a></li>
							<li><a th:href="@{https://www.pinterest.com/PinterestVietnam/}"><i class="fab fa-pinterest-square"></i></a></li>
							<li><a th:href="@{https://hocvien.haravan.com/blogs/seo/google-plus-la-gi-va-cach-seo-hieu-qua-hon-voi-google}"><i class="fab fa-google-plus-square"></i></a></li>
							<li><a th:href="@{https://www.youtube.com/watch?v=gOtfJ151ue4&list=RDMMNuWAl7-Vkwk&index=5}"><i class="fab fa-youtube"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>